<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_bill_Servlet</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_bill_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>exit</servlet-name>
    <servlet-class>com.hfxt.servlet.exit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_bill_del</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_bill_del</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_provider_list</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_provider_list</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_bill_Add</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_bill_Add</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_bill_Upda</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_bill_Upda</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_bill_Update</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_bill_Update</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_provider_page</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_provider_page</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Smbms_provider_page_selename</servlet-name>
    <servlet-class>cn.hfxt.servlet.Smbms_provider_page_selename</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>cn.hfxt.servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Exit</servlet-name>
    <servlet-class>cn.hfxt.servlet.Exit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>cn.hfxt.servlet.UserPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Menu_Servlet</servlet-name>
    <servlet-class>cn.hfxt.servlet.Menu_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Fen</servlet-name>
    <servlet-class>cn.hfxt.servlet.Fen</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Quan</servlet-name>
    <servlet-class>cn.hfxt.servlet.Quan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FenPei</servlet-name>
    <servlet-class>cn.hfxt.servlet.FenPei</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuDelete</servlet-name>
    <servlet-class>cn.hfxt.servlet.MenuDelete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Echo</servlet-name>
    <servlet-class>cn.hfxt.servlet.Echo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMenu</servlet-name>
    <servlet-class>cn.hfxt.servlet.UpdateMenu</servlet-class>
  </servlet>



















  <servlet-mapping>
    <servlet-name>Smbms_bill_Servlet</servlet-name>
    <url-pattern>/Smbms_bill_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_bill_del</servlet-name>
    <url-pattern>/Smbms_bill_del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_provider_list</servlet-name>
    <url-pattern>/Smbms_provider_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_bill_Add</servlet-name>
    <url-pattern>/Smbms_bill_Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_bill_Upda</servlet-name>
    <url-pattern>/Smbms_bill_Upda</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_bill_Update</servlet-name>
    <url-pattern>/Smbms_bill_Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_provider_page</servlet-name>
    <url-pattern>/Smbms_provider_page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smbms_provider_page_selename</servlet-name>
    <url-pattern>/Smbms_provider_page_selename</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/UserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Menu_Servlet</servlet-name>
    <url-pattern>/Menu_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fen</servlet-name>
    <url-pattern>/Fen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Quan</servlet-name>
    <url-pattern>/Quan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FenPei</servlet-name>
    <url-pattern>/FenPei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuDelete</servlet-name>
    <url-pattern>/MenuDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Echo</servlet-name>
    <url-pattern>/Echo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMenu</servlet-name>
    <url-pattern>/UpdateMenu</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
